 
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

 :root {

    --universal-font:'Roboto', sans-serif;
 }
 * {
     margin: 0;
     padding: 0;
 }
 
 
body { 

    overflow-x: hidden;
}
 /* navbar starts*/
 header {

    background: url('../Images/tennis.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 400px;

}
.navlist {

    padding-top: 30px;
}
.navlist ul li { 
    display: inline;
    margin-left: 50px;
    color: #fff;
    font-family: var(--universal-font);
    font-weight: bolder;
    transform: scale(2.5);
}
  li:hover {

    opacity: 0.6;
    transform: scale(2.5);

}
.navlist p {

    color: #fff;
    font-family: var(--universal-font);
    font-weight: bolder;
    font-size: 25px;
    padding-left: 5px;
}

.navlist a {

    text-decoration: none;
}

/* navbar ends */ 


.contactus-container {

    text-align: center;
}

.form-container form  {
 
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}

.form-container input {

    display: block;
    text-align: center;

}