 * {
     margin: 0;
     padding: 0;
 }
 
 
body { 

    overflow-x: hidden;
}
 /* navbar starts*/
 header {

    background: url('../images/tennis.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 400px;

}

.navlist ul li { 
    display: inline;
    margin-left: 50px;
    color: #fff;
}

.navlist p {

    color: #fff;
}

/* navbar ends */ 

.ultimate.contact.container {

    width: 100%;
}

.contactus-container {

    text-align: center;
}

.form-container form  {
 
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}

.form-container input {

    display: block;
    text-align: center;

}