header{
    background: url('../images/tennis.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 500px;
}
*{
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
}